.Apropos{
    border-radius: 25px;
    height: 225px;
    padding: 0 100px 0 100px;
    position: relative;
}
.imgApropos {
    filter: brightness(70%);
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}