
.Banner {
    border-radius: 25px;
    height: 225px;
    margin-bottom: 35px;
    position: relative;
}
.Banner > span {
    color: #ffffff;
    font-size: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Banner > img {
    filter: brightness(70%);
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}


@media screen and (max-width: 1490px) {
    .banner > span {
      font-size: 20px;
      left: 15px;
      transform: translateY(-50%);
    }
  }