.Banner {
  border-radius: 25px;
  height: 225px;
  margin-bottom: 35px;
  position: relative;
}

.Banner>img {
  filter: brightness(70%);
  border-radius: 25px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}


.Banner>p {
  color: #ffffff;
  font-size: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 950px) {
  .Banner>img {
    display: none;
  }

  .Banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(30, 29, 29, 0.325)),
      url("../assets/bannerMobil.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9px;

  }

  .Banner>p {
    font-size: 37px;
  }
}

@media screen and (max-width: 550px) {
  .Banner>p {
    font-size: 27px;
    left: 30px;
    transform: translateY(-50%);
  }
}