.cards {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 60px;
    padding: 55px 50px;
}


.post {
    border-radius: 10px;
    height: 100%;
    min-height: 340px;
    position: relative;
    cursor: pointer;

}

.post :hover {

    color: #FF6060;
}

.imgCard {
    background: linear-gradient(180deg, #130303fd 0%, #f0e7e7f6 100%);
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;

}

.titleLocation {
    font-weight: 600;
    bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    left: 20px;
    margin-right: 20px;
    position: absolute;
}

@media screen and (min-width: 360px) and (max-width: 850px) {
    .cards {
        background-color: unset;
        gap: 20px 0;
        grid-template-columns: 1fr;
        padding: 0
    }

    .post {
        min-height: 255px;
    }
}