.Carousel {
    height: 420px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}

.Vector {
    position: absolute;
    height: 50px;
    z-index: 2;
    top: 50%;
    bottom: 50%;
    cursor: pointer;
}
.VectorDisplayNone {
    display: none;
}
.handleClickLeft {
    transform: rotate(90deg) translate(-50%, -50%);
}

.handleClickRigth {
    transform: rotate(-90deg) translate(50%, -50%);
    right: 0;
}

/* div */
.imgCarousel {
    position: relative;
    height: 420px;
    width: 100%;
    border-radius: 25px;
}
/* img */

.imgCarousel > img {
    height: 420px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}
/* span */
.counter {
    color: #fff;
    font-weight: 500;
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 0px) and (max-width: 430px) {
    .carrousel {
        height: 320px;
        margin-bottom: 15px;
    }
    .imageCentral,
    .imageCentral > img {
        height: 320px;
        border-radius: 10px;
    }
    .arrows {
        height: 20px;
    }
    .counter {
        display: none;
    }
}

@media screen and (min-width: 431px) and (max-width: 992px) {
    .carrousel {
        height: 330px;
        margin-bottom: 30px;
    }
    .arrows {
        height: 20px;
    }
    .imageCentral,
    .imageCentral > img {
        height: 330px;
    }
}