.Carousel {

    width: 100%;
    border-radius: 25px;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 45px;
}

.VectorLeft {
    position: absolute;
    height: 50px;
    z-index: 4;
    top: 50%;
    bottom: 50%;
    cursor: pointer;

    transform: rotate(180deg);
}

.VectorRight {
    position: absolute;
    height: 50px;
    z-index: 5;
    top: 50%;
    right: 0;
    bottom: 50%;
    cursor: pointer;

}

.handleClickLeft {
    transform: rotate(90deg) translate(-50%, -50%);
}

.handleClickRigth {
    transform: rotate(-90deg) translate(50%, -50%);
    right: 0;
}

/* div */
.imgCarousel {
    position: relative;
    height: 420px;
    width: 100%;
    border-radius: 25px;
}

/* img */

.imgCarousel>img {
    height: 420px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

/* span */
.compteur {
    color: #fff;
    font-weight: 500;
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 0px) and (max-width: 430px) {
    .Carousel {
        height: 320px;
        margin-bottom: 15px;
    }

    .imgCarousel,
    .imgCarousel>img {
        height: 320px;
        border-radius: 10px;
    }

    .Vector {
        height: 20px;
    }

    .compteur {
        display: none;
    }
}

@media screen and (min-width: 431px) and (max-width: 992px) {
    .carousel {
        height: auto;
        margin-bottom: 30px;
    }

    .Vector {
        height: 20px;
    }

    .imgCarousel,
    .imgCarousel>img {
        height: 330px;
    }
}