


section {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .header{
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 50px;
    width: 100%;
    justify-content: space-between;
  }
 
  .title {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
  }
  
  .VectorClose, .VectorOpen{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
    cursor: pointer;
    height: 15px;
    transform: rotate(90deg);
  }
  .VectorOpen {
    transform: rotate(-90deg);
  }
 .VectorTrue.true:hover {
      justify-content: start;
      transform: rotate(+90deg);
    
  }

  
  .description{
    display: flex;
    flex-direction: column;
   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    height: 35px;
    margin-top: -10px;
    width: 50%;
   
  }
