.error_main {
   text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6060;
    margin: 120px 0;
}

.error_main > h1 {
    font-size: 200px;
}
br {
    display: none;
}

.error_main > p {
    margin: 20px;
    font-size: 36px;
    font-weight: 500;
    
}

.error_main button {
    margin: 100px;
    text-decoration: underline;
    color: #FF6060;
    line-height: 25px;
    font-size: 18px;
    border: none;
    background: transparent;
}

.error_main button:hover {
    cursor: pointer;
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
    .error_main > h1 {
        font-size: 122px;
    }
    .error_main > p {
        font-size: 20px;
    }
    br {
        display: flex;
    }
    .error_main button {
        font-size: 13px;
    }

}