* {
    margin: 0;
    padding:0;
}


.header {
    color: #FF6060;
    height: 70px;
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
}

.header > img {
    max-width: 340px;
}

.header > nav {
    font-size: 24px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > a {
    font-size: 44px;

    text-align: end;
    min-width: 140px;
    font-weight: 500;
    color: #FF6060;
    
}