@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

* {
    margin: 0;


    font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Helvetica Neue",
        sans-serif;
}

main {
    margin: 25px 50px;
}

@media screen and (min-width: 360px) and (max-width: 850px) {

    header,
    main {
        padding: 0;
    }
}